[Match]
Name=ladder
Driver=tun

[Link]
RequiredForOnline=true
MTUBytes=1492

[Network]
Address=192.168.100.2/32
DHCP=false
DNSDefaultRoute=false
EmitLLDP=false
IPv4Forwarding=true
IPv6AcceptRA=false
IPv6Forwarding=true
LLMNR=false
LinkLocalAddressing=false
MulticastDNS=false

[Route]
Destination=192.168.100.0/24
Gateway=192.168.100.1
Scope=global
Type=unicast

[Route]
Destination=10.78.90.2/32
Gateway=192.168.100.1
Scope=global
Table=divert-template
Type=unicast

[Route]
Destination=fd00:7890::2/128
Gateway=2607:8700:5500:3d9a::2
Scope=global
Table=divert-template
Type=unicast
