[Match]
Name=lo

[Link]
RequiredForOnline=true

[Network]
KeepConfiguration=true

[RoutingPolicyRule]
Family=both
Priority=32766
Table=main

[RoutingPolicyRule]
Family=both
Priority=32767
Table=default

[Route]
Destination=10.78.90.3/32
Gateway=0.0.0.0
Metric=4294967295
Scope=global
Table=divert-template
Type=prohibit

[Route]
Destination=fd00:7890::3/128
Gateway=::
Metric=4294967295
Scope=global
Table=divert-template
Type=prohibit

[Route]
Destination=10.78.90.4/32
Gateway=0.0.0.0
Scope=global
Table=divert-template
Type=unreachable

[Route]
Destination=fd00:7890::4/128
Gateway=::
Scope=global
Table=divert-template
Type=unreachable
