[Match]
Name=local
Type=bridge

[Network]
Address=192.168.0.1/16
Address=fd00::1/64
DHCPPrefixDelegation=true
DHCPServer=true
EmitLLDP=true
IPv4Forwarding=true
IPv6AcceptRA=false
IPv6Forwarding=true
IPv6LinkLocalAddressGenerationMode=eui64
IPv6SendRA=true
LLDP=true
LLMNR=true
MulticastDNS=true
IPMasquerade=ipv4

[Address]
NFTSet=ifindex:inet:basic:trusted_interfaces

[DHCPServer]
DNS=_server_address
EmitDNS=true
EmitNTP=true
EmitRouter=true
EmitTimezone=true
NTP=_server_address
PersistLeases=true
PoolOffset=256
PoolSize=6300
UplinkInterface=:none

[IPv6SendRA]
DNS=_link_local
EmitDNS=true
Managed=true
OtherInformation=true
UplinkInterface=:none

[IPv6Prefix]
Prefix=fd00::/64
# 12h
PreferredLifetimeSec=43200
# 24h
ValidLifetimeSec=86400
