[Match]
Name=wan
Type=ppp

[Link]
RequiredForOnline=true

[Network]
DHCP=ipv6
DNSDefaultRoute=false
EmitLLDP=false
IPv4Forwarding=true
IPv6AcceptRA=true
IPv6Forwarding=true
IPv6LinkLocalAddressGenerationMode=stable-privacy
IPv6PrivacyExtensions=true
KeepConfiguration=static
LLMNR=false
MulticastDNS=false

[Address]
NFTSet=ifindex:inet:pppoe:pppoe_interfaces

[Route]
Destination=104.194.91.98/32
Gateway=0.0.0.0
Scope=global
Type=unicast

[Route]
Destination=10.78.90.1/32
Gateway=0.0.0.0
Scope=global
Table=divert-template
Type=unicast

[Route]
Destination=fd00:7890::1/128
Gateway=::
Scope=global
Table=divert-template
Type=unicast

[DHCPv6]
PrefixDelegationHint=::/56
SendHostname=false
UseAddress=true
UseDNS=false
UseDelegatedPrefix=true
UseHostname=false

[IPv6AcceptRA]
DHCPv6Client=always
UseDNS=true
UseGateway=false
UseMTU=true
UseRoutePrefix=false
