[Unit]
After=network-pre.target
Before=network.target
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=/usr/lib/systemd/systemd-networkd-wait-online -i wanc -o carrier --timeout=30
Type=notify
ExecStart=pppd call wan up_sdnotify nolog wanc
TimeoutStartSec=60s

[Service]
AmbientCapabilities=CAP_BPF
AmbientCapabilities=CAP_SYS_TTY_CONFIG
AmbientCapabilities=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_BPF
CapabilityBoundingSet=CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_RAW
KeyringMode=private
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateMounts=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelTunables=false
ProtectSystem=strict
RemoveIPC=true
Restart=always
RestartSec=5
RestrictAddressFamilies=AF_ATMPVC
RestrictAddressFamilies=AF_ATMSVC
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_IPX
RestrictAddressFamilies=AF_NETLINK
RestrictAddressFamilies=AF_PACKET
RestrictAddressFamilies=AF_PPPOX
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectory=pppd
SecureBits=no-setuid-fixup-locked noroot-locked
SystemCallArchitectures=native
SystemCallFilter=@system-service
DynamicUser=true
